<app-search-course
  (searchCourse)="onSearchCourseClick($event)"></app-search-course>
<app-course-item
  *ngFor="let course of courseList | filterByTitle: searchString"
  [courseId]="course.id"
  [courseTitle]="course.title"
  [courseDescription]="course.description"
  [courseDateMillis]="course.date"
  [courseDuration]="course.duration"
  (courseDeleted)="onCourseDeleted(course.id)">
</app-course-item>
<button class="btn btn-info btn-block mt-3" (click)="loadMoreCourses()">
  <span *ngIf="courseList.length">Load More</span>
  <span *ngIf="!courseList.length">No data. Feel free to add new course</span>
</button>
