<mat-toolbar color="primary">
  <div><a href="#">LOGO</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!isAuth">
        <a href="#">Signup</a>
      </li>
      <li *ngIf="!isAuth">
        <a href="#">Login</a>
      </li>
      <li *ngIf="isAuth">
        <a href="#">{{currentUser.name}}</a>
      </li>
      <li *ngIf="isAuth">
        <a style="cursor: pointer" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
