<mat-toolbar color="primary">
  <div><a routerLink="/courses">LOGO</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <ng-container
        *ngIf="isAuth; then loggedIn else loggedOut">
      </ng-container>
      <ng-template #loggedOut>
        <li>
          <a href="#">Signup</a>
        </li>
        <li>
          <a href="#">Login</a>
        </li>
      </ng-template>
      <ng-template #loggedIn>
        <li>
          <a routerLink="../courses" [routerLinkActive]="'active'">{{currentUser.name}}</a>
        </li>
        <li>
          <a class="menu-logout" (click)="onLogout()">Logout</a>
        </li>
      </ng-template>
    </ul>
  </div>
</mat-toolbar>
