<div
  class="alert alert-primary"
  [appHighlightCourse]="courseDate">
  <div class="row">
    <div class="col-10">
      <div class="row">
        <div class="col-8"><h3 class="course-title">{{courseTitle | uppercase}}</h3></div>
        <div class="col-2">{{courseDuration | courseDuration}}</div>
        <div class="col-2">{{courseDate | date:'mediumDate'}}</div>
      </div>
      <div class="row">
        <p class="font-weight-light font-italic text-justify course-description">
          {{courseDescription | words : 25}}
        </p>
      </div>
    </div>
    <div class="col-2">
      <div class="row mb-3">
        <button class="btn btn-success" type="button" (click)="onEditCourse()">Edit</button>
      </div>
      <div class="row mb-3">
        <button class="btn btn-danger delete-button" type="button" (click)="courseDeleted.emit(courseId)">Delete
        </button>
      </div>
    </div>
  </div>
</div>
