<section fxLayout fxLayoutAlign="center">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxFlex="90%"
    fxFlex.sm="70%"
    fxFlex.gt-sm="700px"
    (ngSubmit)="onSubmit()"
    [formGroup]="courseForm">
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Course Title"
        name="title"
        required
        formControlName="title">
      <mat-hint>Please enter course title.</mat-hint>
      <mat-error>Field must not be empty.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        formControlName="description"
        matInput
        placeholder="Course Description"
        name="description"
        required>
      </textarea>
      <mat-error>Field must not be empty.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        formControlName="date"
        matInput
        placeholder="Course Start Date"
        [matDatepicker]="picker"
        name="date"
        required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Please choose the date.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        formControlName="duration"
        type="number"
        matInput
        placeholder="Course Duration"
        name="duration"
        required>
      <mat-error>Field must not be empty.</mat-error>
    </mat-form-field>
    <div fxLayout fxLayoutGap="2em">
      <button type="submit" mat-raised-button [disabled]="courseForm.invalid">Submit</button>
      <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
    </div>
  </form>
</section>
